.background {
    flex: 1;
    display: flex;
    position: relative;
}

.background-day {
    background-color: #749fd5;
}

.background-night {
    background-color: #181D2B;
}

.menue {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.main-section {
    display: flex;
    justify-content: center;
    flex: 1;
    position: relative;
    align-items: center;
}

.round-table {
    aspect-ratio: 1/1;
    position: relative;
    height: 80%;
    background: #f7dca2;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.player-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 185px;
    transition: 0.3s;
}

.player {
    border-radius: 50%;
    display: flex;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.player-voices-counter {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 30px;
}

.selected-player {
    height: 160px;
    background-color: #ebcdb6;
    cursor: default;
}

.unselected-player {
    height: 145px;
    background-color: #808080;
    cursor: pointer;
}

.role-span {
    margin-bottom: 30px;
    font-size: 2em;
    transition: 0.5s;
}

.hidden-span {
    user-select: none;
    color: #ffffff00;
}

.player-number {
    user-select: none;
    font-size: 4em;
    text-shadow: inherit;
}

.saying-player {
    box-shadow: 0px 0px 30px #3d8f2cbb;
}

.voted-player {
    box-shadow: 0px 0px 30px #803018BB;
}

.me-player {
    border-radius: 25%;
    background-color: #e9bc85;
    /* box-shadow: 0px 0px 35px #00000025; */
}

.target-player {
    border: solid #1c91ff 10px;
}

.target-now-player {
    border: solid #0025ca 10px;
}

.show-my-role-button {
    background-color: rgba(255, 255, 255, 0);
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-my-role-img {
    width: 70%;
    height: 70%;
    user-select: none;
}

.ok-button {
    border-radius: 40px;
    background-color: #ffbe75;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 200px;
    height: 80px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.ok-button-clickable:hover {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}
.ok-button-clickable:active {
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

.goodrole-player {
    text-shadow:  0px 0px 30px #b88700bb;
}

.badrole-player {
    text-shadow:  0px 0px 30px #5f5f5fbb;
}

.ok-span {
    font-size: 3em;
    user-select: none;
}

.invisible {
    width: 0px !important;
    height: 0px !important;
    color: #00000000 !important;
    cursor: initial !important;
}