body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.test-header {
    /* width: 100%; */
    height: 30px;
    background-color: red;
}